body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f8ff;
    margin: 0;
    padding: 0;
}

.game-container {
    margin: 10px auto;
    max-width: 600px;
}

h1 {
    color: #4caf50;
    font-size: clamp(5px, 10vw, 30px); /* 最小16px, 最大20px, ビューポート幅に応じて調整 */
    max-width: 600px; /* 親要素内に収める */
}

#animal-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto; /* 動物と葉っぱの距離を2倍に */
}

.animal {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    position: relative;
    transform: translateY(0); /* 初期位置 */
    opacity: 1; /* 初期透明度 */
    transition: transform 4s ease-in-out, opacity 2s ease-in-out; /* アニメーション設定 */
}



#leaf-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.leaf {
    width: 100px; /* 動物と葉っぱのサイズを一致 */
    height: 100px;
    background-size: cover;
    background-position: center;
    background-image: url('../assets/images/leaf.png');
    border: 3px solid transparent;
    transition: border-color 0.5s ease;
}

    .leaf.glow {
        border-color: red;
    }

#choices-container {
    display: flex;
    justify-content: space-around;
    margin: 20px auto;
}

.choice-button {
    width: 100px; /* 動物と葉っぱのサイズを一致 */
    height: 100px;
    background-size: cover;
    background-position: center;
    border: none;
    cursor: pointer;
    display: none; /* 初期状態は非表示 */
}

    .choice-button.show {
        display: inline-block; /* 回答ボタンを表示 */
    }

    .choice-button:hover {
        transform: scale(1.1);
    }

#result {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    opacity: 0; /* 初期状態で透明にする */
    transition: opacity 0.5s ease; /* 表示をスムーズに */
    position: relative; /* 基本的な位置の変更を可能にする */
    top: -300px; /* 葉っぱより上に移動する */
}

